////////////////////////////////////////////////////////////////

/* layout */

html {
    font-weight: medium;
    line-height: 1.4;
    margin: 0 1.4em 0 1.4em;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    word-break:break-all;
    .source-link {
        float: right;
        font-size: smaller;
    }
}

.title {
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em;
}

.table-of-contents {
    word-break:break-all;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em;
    .source-link {
        display: none;
    }
    ol {
        padding-left: 1em;
    }
}

.main {
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em;
}

$width: 64.4em;

/* zoom out */
@media all and (min-width: $width) {
    body {
        .title {
            position: fixed;
            height: 5em;
            width: 17em;
        }            
        .table-of-contents {
            position: fixed;
            top: 8em;
            height: 100%;
            width: 17em;
        }
        .main {
            position: absolute;
            left: 21em;
            width: 40em;
        }
    }
}

/* zoom in */
@media all and (max-width: $width) {
    body {
        text-align: center;
        .title, .table-of-contents, .main {
            display: inline-block;
            text-align: left;
            float: center;
            width: 40em;
        }
    }
}


////////////////////////////////////////////////////////////////

/* markup */


////////////////////////////////////////////////////////////////

/* font, style */

$title-font: 'Comfortaa';
$text-font:  'Raleway';

$title-font: 'Comfortaa';
$text-font:  'Inconsolata';
$title-font:  'Raleway';


$background : black;
$background2: #202020;
$text       : gray;
$highlight  : orange;
$highlight2 : palegreen;
$suppressed : #404040;

html {
    background: $background;
    color: $text;
    font-family: $text-font;
}

h1,h2,h3,h4,h5,h6 {
    color: $highlight;
    font-family: $title-font;
}

a {
    text-decoration: none;
    color: $highlight2;
}

.title {
    background: $background2;
}
.main {
    background: $background2;
    .missing {
        color: $suppressed;
        font-style: italic;
    }

    .docstring {
        margin-left: 1em;
    }
}

.table-of-contents {
    background: $background2;
}

.directory {
    &:before {
        content: "Directory";
        color: $suppressed;
        margin-right: 0.3em;
    }
    &:after {
        content: "/";
        color: $suppressed;
        margin-left: 0.1em;
    }
}

.file {
    &:before {
        content: "File";
        color: $suppressed;
        margin-right: 0.3em;
    }
}

.extension {
    &:before {
        content: ".";
    }
    color: $suppressed;
}


.doctype {
    color: $suppressed;
    color: $text;
}

.sep1 {
    margin-right: 0.3em;
    color: $text;
}
.sep2 {
    margin-left : 0.1em;
    margin-right: 0.1em;
}


.package {
    &:before {
        content: "Package:";
        margin-right: 0.3em;
        font-style: italic;
        color: $text;
    }
    font-size: 0.7em;
    color: $highlight2;
    float : right;
    margin-right: 1em;
}

.args {
    &:before {
        content: "Args:";
        margin-right: 0.3em;
        font-style: italic;
        color: $text;
    }
    margin-top: 0em;
    margin-left: 3em;
    font-size: 0.7em;
    color: $highlight;
}

pre {
    margin: 0;
}
