
////////////////////////////////////////////////////////////////

/* font, style */

$title-font: 'Comfortaa';
$text-font: 'Raleway';

html {
    background: lightgray;
    color: black;
    font-family: $text-font, sans-serif;
    font-weight: medium;
    line-height: 1.4;
    margin: 0 1.4em 0 1.4em;
    padding: 0;
}

////////////////////////////////////////////////////////////////

/* layout */

h1,h2,h3,h4,h5,h6 {
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    word-break:break-all;
    .source-link {
        float: right;
        font-size: smaller;
    }
}

.main {
    background: white;
    width: 40em;
    margin: 1em 1em 1em 1em;
}

.table-of-contents {
    width: 17em;
    word-break:break-all;
    margin: 1em 1em 1em 1em;
    .source-link {
        display: none;
    }
    ol {
        padding-left: 1em;
    }
}

$width: 64.4em;


@media all and (min-width: $width) {
    body {
        text-align: left;
        .main {
            display: inline-block;
            vertical-align: top;
            text-align: left;
        }
        .table-of-contents {
            display: inline-block;
            vertical-align: top;
            text-align: left;
        }
    }
}

@media all and (max-width: $width) {
    body {
        text-align: center;
        .main {
            display: block;
            vertical-align: top;
            text-align: left;
        }
        .table-of-contents {
            display: block;
            vertical-align: top;
            text-align: left;
        }
    }
}


////////////////////////////////////////////////////////////////

/* markup */

.main {
    .missing {
        color: lightgray;
        font-style: italic;
    }

    .docstring {
        margin-left: 1em;
    }
}

.toc {
}


.directory {
    &:before {
        content: "Directory";
        color: gray;
        margin-right: 0.3em;
    }
    &:after {
        content: "/";
        color: gray;
        margin-left: 0.1em;
    }
}

.file {
    &:before {
        content: "File";
        color: gray;
        margin-right: 0.3em;
    }
}

.extension {
    &:before {
        content: ".";
    }
    color: gray;
}

.sep1 {
    margin-right: 0.3em;
}
.sep2 {
    margin-left : 0.1em;
    margin-right: 0.1em;
}

a {
    text-decoration: none;
}    

.toc {
    .directory, .file, .extension, .directory:before, .directory:after, .file:before {
        font-style: inherit;
        color: inherit;
    }
}

